<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <xdt:Import assembly="AppHarbor.TransformTester" namespace="AppHarbor.TransformTester.Transforms"/>

  <configSections xdt:Transform="MergeBefore(/configuration/*)" />

  <configSections>
	<section name="mySection" xdt:Transform="Insert" />
  </configSections>

  <connectionStrings xdt:Transform="Merge" />

  <connectionStrings>
	<add name="bar" connectionString="value" xdt:Transform="Insert"/>
  </connectionStrings>

  <system.web>
	<customErrors mode="On" xdt:Transform="Replace">
	</customErrors>
  </system.web>

</configuration>
