<?xml version="1.0"?>
<configuration>
	<!-- Hey Dev! Changing or removing existing elements in this file may cause functionality in Composite C1 to break -->

	<!-- 
	Yes we know, but cannot help us! Addicted to peeking and poking
	-->
	<configSections>
		<!--
		============================================================================
		HolisticWare PageSpeed and Yslow tips, tricks and tweaks 
		Web Site/Application performance - page speed

		http://code.google.com/speed/page-speed/docs/rules_intro.html
		http://developer.yahoo.com/performance/rules.html

		http://www.iis.net/ConfigReference/system.webServer/staticContent/clientCache
		http://developer.yahoo.com/performance/rules.html#cookie_free
				
		Minimizing payload size with compression of resources
		
		When there is no possibility to tweak web server IIS/Apache for compression
		it is possible to compress content with deflate/gzip on per application
		basis.
		Several compression utilities/libraries:
		1. Ben Lowery: blowery.web
		2. wicked compression
		3. own custom compression
		============================================================================
		-->
		<sectionGroup name="blowery.web">
			<section name="httpCompress"
				type="blowery.Web.HttpCompress.SectionHandler, blowery.Web.HttpCompress"
			/>
		</sectionGroup>
		<section name="dotNetOpenAuth"
			type="DotNetOpenAuth.Configuration.DotNetOpenAuthSection"
			requirePermission="false" allowLocation="true"
		/>
	</configSections>
	<!--
		============================================================================
		HolisticWare PageSpeed and Yslow tips, tricks and tweaks 
		Web Site/Application performance - page speed
		
		Configuring blowery compression moodules!
		============================================================================
	-->
	<blowery.web>
		<httpCompress preferredAlgorithm="gzip" compressionLevel="high">
			<!--
				excluding filetypes for which compression does not make sense
			-->
			<excludedMimeTypes>
				<add type="image/jpeg" />
				<add type="image/gif" />
				<add type="image/png" />
				<add type="application/zip" />
				<add type="application/x-zip-compressed" />
				<add type="application/x-gzip-compressed" />
				<add type="application/x-compressed" />
				<add type="application/octet-stream" />
				<add type="application/pdf" />
			</excludedMimeTypes>
			<excludedPaths>
				<!--
				For some web sites/apps compression might cause malfunctioning.
				More tests needed!
				-->
				<add path="Composite/*" />
				<add path="Composite/top.aspx" />
				<add path="WebResource.axd" />
				<add path="ScriptResource.axd" />
			</excludedPaths>
		</httpCompress>
	</blowery.web>
	<system.web>
		<customErrors mode="RemoteOnly">
			<error statusCode="404" redirect="Renderers/FileNotFoundHandler.ashx"/>
		</customErrors>
		<compilation debug="true" targetFramework="4.0" optimizeCompilations="true">
			<assemblies>
				<add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Workflow.ComponentModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Workflow.Activities, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
				<add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			</assemblies>
		</compilation>
		<httpRuntime maxRequestLength="20480"/>
		<xhtmlConformance mode="Strict"/>
		<trace enabled="false" traceMode="SortByTime" requestLimit="100" writeToDiagnosticsTrace="false" pageOutput="true"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
			<controls>
				<add tagPrefix="aspui" namespace="Composite.Core.WebClient.UiControlLib" assembly="Composite"/>
				<add tagPrefix="control" tagName="httpheaders" src="~/Composite/controls/HttpHeadersControl.ascx"/>
				<add tagPrefix="control" tagName="styleloader" src="~/Composite/controls/StyleLoaderControl.ascx"/>
				<add tagPrefix="control" tagName="scriptloader" src="~/Composite/controls/ScriptLoaderControl.ascx"/>
			</controls>
		</pages>
		<!--  IIS6 & IIS7 Clasic mode -->
		<httpModules>
			<add name="LoggerHostnameHandler" type="Composite.Core.WebClient.Logging.WCF.LoggerHostnameHandler, Composite"/>
			<add name="ApplicationOfflineCheck" type="Composite.Core.Application.ApplicationOfflineCheckHttpModule, Composite"/>
			<add name="AjaxResponseHandler" type="Composite.Core.WebClient.Ajax.AjaxResponseHttpModule, Composite"/>
			<add name="CompositeAdministrativeResponseFilter" type="Composite.Core.WebClient.HttpModules.AdministrativeResponseFilterHttpModule, Composite"/>
			<add name="CompositeAdministrativeAuthorization" type="Composite.Core.WebClient.HttpModules.AdministrativeAuthorizationHttpModule, Composite"/>
			<add name="CompositeRequestInterceptor" type="Composite.Core.WebClient.Renderings.RequestInterceptorHttpModule, Composite"/>
			<add name="CompositeAdministrativeDataScopeSetter" type="Composite.Core.WebClient.HttpModules.AdministrativeDataScopeSetterHttpModule, Composite"/>
			<add name="CompositeAdministrativeCultureSetter" type="Composite.Core.WebClient.HttpModules.AdministrativeCultureSetterHttpModule, Composite"/>

			<!--
		============================================================================
		HolisticWare PageSpeed and Yslow tips, tricks and tweaks 
		Web Site/Application performance - page speed
		============================================================================
		-->
			<!--
				add http handler/module: Expire Headers
			-->
			<!-- 
			Holisticware order of execution problem.... With compression module
			Whitespace removal move do compression module
			<add name="WhiteSpaceRemoval" type="Core.ASPnet.HTTPMinimificationWhitespaceModule" />			
			-->
			<add name="HttpCahcingExpires" type="HolisticWare.Core.Web.PageSpeed.HTTPCachingModuleExpiresHeaders" />
			<!--
				add http handler/module: Compression Module!
			-->
			<!--
			Problems with Whitespace removal module and order of execution
			TODO: check order of execution
			-->
			<add name="CompressionBlowery" type="blowery.Web.HttpCompress.HttpModule, blowery.web.HttpCompress" />
			<!--
			HolisticWare Compression some issues wit reloading!?!? TODO:
			<add name="CompressionHolisticWare" type="Core.ASPnet.HTTPCompressionModule" />
			-->
		</httpModules>
	</system.web>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" compilerOptions="/warnaserror-" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v4.0"/>
			</compiler>
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" compilerOptions="/optioninfer+" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
				<providerOption name="CompilerVersion" value="v4.0"/>
			</compiler>
		</compilers>
	</system.codedom>
	<!-- IIS7 Intergrated mode configuration -->
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false"/>
		<modules>
			<add name="LoggerHostnameHandler" type="Composite.Core.WebClient.Logging.WCF.LoggerHostnameHandler, Composite"/>
			<add name="ApplicationOfflineCheck" type="Composite.Core.Application.ApplicationOfflineCheckHttpModule, Composite"/>
			<add name="AjaxResponseHandler" type="Composite.Core.WebClient.Ajax.AjaxResponseHttpModule, Composite"/>
			<add name="CompositeAdministrativeResponseFilter" type="Composite.Core.WebClient.HttpModules.AdministrativeResponseFilterHttpModule"/>
			<add name="CompositeAdministrativeAuthorization" type="Composite.Core.WebClient.HttpModules.AdministrativeAuthorizationHttpModule, Composite"/>
			<add name="CompositeRequestInterceptor" type="Composite.Core.WebClient.Renderings.RequestInterceptorHttpModule, Composite"/>
			<add name="CompositeAdministrativeDataScopeSetter" type="Composite.Core.WebClient.HttpModules.AdministrativeDataScopeSetterHttpModule, Composite"/>
			<add name="CompositeAdministrativeCultureSetter" type="Composite.Core.WebClient.HttpModules.AdministrativeCultureSetterHttpModule, Composite"/>
		</modules>

		<!-- ETags -->
		<httpProtocol>
			<customHeaders>
				<remove name="Vary"></remove>

				<add name="Vary" value="Accept-Encoding"></add>
				<add name="ETag" value="&quot;&quot;" />
			</customHeaders>
		</httpProtocol>

		<!-- Expiry -->
		<staticContent>
			<clientCache cacheControlMode="UseExpires"
					httpExpires="Tue, 19 Jan 2038 03:14:07 GMT" />
		</staticContent>

		<caching enabled="true" enableKernelCache="true" >
			<profiles>
				<add extension=".js" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any"></add>
				<add extension=".css" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any"></add>
				<add extension=".gif" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any"></add>
				<add extension=".png" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any"></add>
				<add extension=".jpg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any"></add>
				<add extension=".jpeg" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any"></add>
				<add extension=".ico" policy="CacheUntilChange" kernelCachePolicy="CacheUntilChange" location="Any"></add>
			</profiles>
		</caching>
	</system.webServer>
</configuration>